<%- include('header.ejs') %>
<title>PoyoSSG - Index</title>
<meta name="description" content="A collection of casual interviews with random people across the world.">
<div class="container">
    <div class="post-list">
        <% for (let post of postArray) { %>
        <div class="post">
            <div class="post-header">
                <a href="posts/<%= post.dest %>"><h3 class="post-title"><%= post.title %></h3></a>
                <p>Authored by <%= post.author %></p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('footer.ejs') %>