<%- include('header.ejs') %>
<meta name="description" content="The best SSG in the world">
<div class="container">
    <div class="post-list">
        <% for (let post of postArray) { %>
        <div class="post">
            <div class="post-header">
                <a href="posts/<%= post.dest %>"><h3 class="post-title"><%= post.title %></h3></a>
                <p>Authored by <%= post.author %></p>
            </div>
        </div>
        <% } %>
    </div>
</div>
<%- include('footer.ejs') %>