<%- include('header', { title: title }) %>
<div class="row h-100">
    <div class="sidebar post-list">
        <h2>More Posts</h2>
        <ul>
            <% for (let post of postList) { %>
        <li><a href="<%- post.dest %>"><%- post.title %></a></li>
        <% } %>
        </ul>
    </div>
        <div class="container">
            <%- content %>
        </div>
    
    </div>
</div>

<%- include('footer') %>